* {
  font-family: "Chakra Petch", sans-serif;
  scrollbar-width: none;
}
:root {
  --main-color: #c3e920;
  --nav-color: #0b0e13;
  --gray-800: oklch(37.3% 0.034 259.733);
}

.navbar-nav .nav-link.active {
  color: var(--main-color) !important;
  font-weight: bold;
}
nav {
  border-bottom: 1px solid var(--gray-800);
}

.bg-nav {
  background-color: var(--nav-color);
}

.logo-color {
  color: var(--main-color) !important;
}

.bg-buttons {
  background-color: var(--main-color) !important;
}

.navbar .navbar-nav .nav-item a {
  color: #fff;
  transition: color 300ms;
}

.navbar .navbar-nav .nav-item:hover a {
  color: #c3e920;
}

.navbar .ending a {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 200ms;
}

.navbar .ending a:hover {
  color: #c3e920 !important;
}

.navbar .btn-shine {
  position: relative;
  overflow: hidden;
}

.navbar .btn-shine::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2;
  transition: left 400ms;
}

.navbar .btn-shine:hover::before {
  left: 100%;
}
header {
  min-height: 100vh;
  padding-block: 100px;
  background-image:
    linear-gradient(#000000e0, #000000e0), url("/images/hero-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

header .right-side .ultimate,
header .right-side .exp {
  font-family: "Days One", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(241, 241, 241);
}

header .right-side .game {
  font-family: "Days One", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
}

header .right-side .btns {
  margin-bottom: 40px;
}

header .right-side .btns .btn-tournament,
header .right-side .btns .btn-start {
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #c3e920;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition:
    color 400ms,
    background-color 400ms;
}

header .right-side .btns .btn-tournament::before,
header .right-side .btns .btn-start::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: left 400ms;
}

header .right-side .btns .btn-tournament:hover::before,
header .right-side .btns .btn-start:hover::before {
  left: 100%;
}
header .right-side .btns .btn-tournament:hover {
  background-color: var(--main-color) !important;
  color: #000 !important;
}

/* header .left-side {
  width: 100%;
} */

header .left-side .pic {
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    oklch(79.2% 0.209 151.711)
  );
}

header .left-side .pic img {
  border-radius: 8px;
  /* display:inline-block; */
  width: 100%;
  object-fit: cover;
  height: 250px;
}

header .right-side p {
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
  line-height: 1.6;
  color: oklch(0.872 0.01 258.338);
}

header .left-side .active-players {
  background-color: #0b0e13;
  border: 1px solid var(--gray-800);
  border-radius: 10px;
  bottom: -5%;
  left: -3%;
  text-align: start;
}

header .left-side .active-players i {
  color: var(--main-color);
  font-size: 12px;
}

header .left-side .active-players .num p {
  font-size: 10px;
  font-weight: 400;
  color: oklch(0.707 0.022 261.325);
}

header .left-side .active-players .num span {
  font-size: 12px;
  font-weight: 700;
  color: rgb(241, 241, 241);
}

section .our-games {
  padding: 40px 20px;
  background-color: #0b0e13;
}
section .our-games .title {
  margin-bottom: 30px;
}
section .our-games .title span {
  font-size: 12.25px;
  font-weight: 700;
  line-height: 17.5px;
  color: rgb(203, 254, 28);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}

section .our-games .title span::before {
  content: "";
  height: 3px;
  width: 30px;
  position: absolute;
  background-image: linear-gradient(
    to left,
    #c3e920,
    #c3e920,
    #546219,
    #1f2415
  );
  left: -70%;
  top: 50%;
  transform: translateY(-50%);
}

section .our-games .title span::after {
  content: "";
  height: 3px;
  width: 30px;
  position: absolute;
  /* background-color: var(--main-color); */
  background-image: linear-gradient(
    to right,
    #c3e920,
    #c3e920,
    #546219,
    #1f2415
  );
  right: -70%;
  top: 50%;
  transform: translateY(-50%);
}
section .our-games .title h2 {
  font-family: "Days One", sans-serif;
  font-size: 26.25px;
  font-weight: 700;
  line-height: 31.5px;
  color: rgb(241, 241, 241);
}
section .our-games .slider .carousel-inner img {
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  transition: scale 500ms;
}

section .our-games .slider .carousel-inner .item {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

section .our-games .slider .carousel-inner .item .title-game {
  position: absolute;
  bottom: -100%;
  left: 4%;
  z-index: 1;
  font-size: 15.75px;
  font-weight: 700;
  line-height: 24.5px;
  color: rgb(11, 14, 19);
  transition: bottom 400ms;
}
section .our-games .slider .carousel-inner .item .genre {
  position: absolute;
  top: -100%;
  left: 4%;
  z-index: 1;
  transition: top 400ms;
}

section .our-games .slider .carousel-inner .item .genre span {
  background-color: color-mix(in oklab, #000 50%, transparent);
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 10.5px;
  font-weight: 700;
  line-height: 14px;
  color: rgb(241, 241, 241);
  text-transform: uppercase;
}
section .our-games .slider .carousel-inner .item .genre span i {
  color: var(--main-color);
  margin-right: 3px;
}
section .our-games .slider .carousel-inner .item::after {
  opacity: 0;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border: 2px solid var(--main-color);
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #c4e920d4, #53621950, #7e7e7e4b);
  transition: opacity 400ms;
  /* background-color: #C3E920; */
}

section .our-games .slider .carousel-inner .item:hover::after{
    opacity: 1;
}

section .our-games .slider .carousel-inner .item:hover .title-game{
    bottom: 6%;
}
section .our-games .slider .carousel-inner .item:hover img{
    scale: 1.1;
}

section .our-games .slider .carousel-inner .item:hover .genre{
    top: 4%;
}


section .our-games .slider .change {
  margin-top: 25px;
}

section .our-games .slider .change button {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 12px;
  border: 1px solid var(--gray-800);
  color: #99a1af;
  transition:
    border 400ms,
    color 400ms;
}

section .our-games .slider .change button:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

section .our-games .slider .view-all {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 10px 15px;
  font-size: 12.25px;
  font-weight: 700;
  line-height: 17.5px;
  width: 100%;
  transition:
    color 400ms,
    background-color 400ms;
}

section .our-games .slider .view-all:hover {
  background-color: var(--main-color) !important;
  color: #000;
}


section .our-games .slider .controllers{
    margin-top: 40px;
}